.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s; }
  @media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
      height: 400px; } }
  @media screen and (max-width: 768px) {
    .blog-slider {
      min-height: 500px;
      height: auto;
      margin: 180px auto; } }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      height: 350px; } }
  .blog-slider__item {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .blog-slider__item {
        flex-direction: column; } }
    .blog-slider__item.swiper-slide-active .blog-slider__img img {
      opacity: 1;
      transition-delay: 0.3s; }
    .blog-slider__item.swiper-slide-active .blog-slider__content > * {
      opacity: 1;
      transform: none; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
        transition-delay: 0.3s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
        transition-delay: 0.4s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
        transition-delay: 0.5s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
        transition-delay: 0.6s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
        transition-delay: 0.7s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
        transition-delay: 0.8s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
        transition-delay: 0.9s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
        transition-delay: 1s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
        transition-delay: 1.1s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
        transition-delay: 1.2s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
        transition-delay: 1.3s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
        transition-delay: 1.4s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
        transition-delay: 1.5s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
        transition-delay: 1.6s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
        transition-delay: 1.7s; }
  .blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, #7dabf6 0%, #1266f1 74%);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .blog-slider__img {
        height: 230px; } }
    .blog-slider__img:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(147deg, #7dabf6 0%, #1266f1 74%);
      border-radius: 20px;
      opacity: 0.8; }
    .blog-slider__img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 0;
      border-radius: 20px;
      transition: all 0.3s; }
    @media screen and (max-width: 768px) {
      .blog-slider__img {
        transform: translateY(-50%);
        width: 90%; } }
    @media screen and (max-width: 576px) {
      .blog-slider__img {
        width: 95%; } }
    @media screen and (max-height: 500px) and (min-width: 992px) {
      .blog-slider__img {
        height: 270px; } }
  .blog-slider__content {
    padding-right: 25px; }
    @media screen and (max-width: 768px) {
      .blog-slider__content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px; } }
    @media screen and (max-width: 576px) {
      .blog-slider__content {
        padding: 0; } }
    .blog-slider__content > * {
      opacity: 0;
      transform: translateY(25px);
      transition: all 0.4s; }
  .blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500; }
  .blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px; }
  .blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em; }
  .blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #7dabf6 0%, #1266f1 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px; }
    @media screen and (max-width: 576px) {
      .blog-slider__button {
        width: 100%; } }
  .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
  .blog-slider .swiper-pagination-custom,
  .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%; }
  .blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%); }
    @media screen and (max-width: 768px) {
      .blog-slider__pagination {
        transform: translateX(-50%);
        left: 50% !important;
        top: 205px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center; } }
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 8px 0; }
      @media screen and (max-width: 768px) {
        .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
          margin: 0 5px; } }
    .blog-slider__pagination .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      display: block;
      border-radius: 10px;
      background: #062744;
      opacity: 0.2;
      transition: all 0.3s; }
      .blog-slider__pagination .swiper-pagination-bullet-active {
        opacity: 1;
        background: #1266f1;
        height: 30px; }
        @media screen and (max-width: 768px) {
          .blog-slider__pagination .swiper-pagination-bullet-active {
            height: 11px;
            width: 30px; } }

main {
  min-height: 80vh; }

.base-color {
  color: #43a047; }

.base-bgcolor {
  background-color: #669cf6; }

a {
  color: #1266f1; }

.carousel-control-prev,
.carousel-control-next {
  background: transparent;
  border: none; }

.card-post {
  height: 100%; }

/* ---- Header ---- */
.navbar-brand .header-logo {
  width: 80px;
  margin-right: 2rem; }

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .show > .nav-link:hover {
  text-decoration: underline; }

/* ---- Filters ---- */
.button-filter {
  box-sizing: border-box;
  appearance: none;
  border: 1px solid #1266f1;
  color: #1266f1;
  background: transparent;
  display: inline-flex;
  align-self: center;
  line-height: 1;
  margin: 8px 4px 0 0;
  padding: .8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 320ms ease-in-out; }
  .button-filter:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #1266f1;
    z-index: -1;
    transition: width 320ms ease-in-out; }
  .button-filter:hover {
    color: #fff;
    outline: 0; }
    .button-filter:hover:after {
      width: 110%;
      outline: 0; }

.button-filter:active,
.button-filter.is-checked {
  background-color: #1266f1; }

.button-filter.is-checked {
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8); }

.button-filter:active {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8); }

/* ---- button-group ---- */
.button-group:after {
  content: "";
  display: block;
  clear: both; }

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px; }

.button-group .button:first-child {
  border-radius: 0.5em 0 0 0.5em; }

.button-group .button:last-child {
  border-radius: 0 0.5em 0.5em 0; }

.grid:after {
  content: "";
  display: block;
  clear: both; }

.grid-sizer {
  width: 90%; }

.element-item {
  padding: 30px;
  width: 94%;
  border: 1px solid #1266f1;
  margin-bottom: .8%; }

.name {
  font-size: 1.5rem;
  margin-bottom: .2rem; }

.icon-size {
  width: 1.5rem;
  height: 1.5rem; }

.icon-info {
  width: 22px;
  color: #1266f1;
  font-size: 24px; }

/* ---- Tipp page ---- */
.blog-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0; }

/* ---- 404 ---- */
.container404 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  font-family: arial, sans-serif;
  overflow: hidden; }

.content404 {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: white;
  padding: 60px 40px;
  text-align: center;
  box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards; }
  .content404 p {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
    letter-spacing: 0.1rem;
    color: #1266f1; }
    .content404 p:last-child {
      margin-bottom: 0; }
  .content404 .button404 {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 3px solid #1266f1;
    background: transparent;
    font-size: 1rem;
    color: #1266f1;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold; }

.particle404 {
  position: absolute;
  display: block;
  pointer-events: none;
  color: #1266f1; }
  .particle404:nth-child(1) {
    top: 28.0193236715%;
    left: 0.9727626459%;
    font-size: 28px;
    filter: blur(0.02px);
    animation: 40s float infinite; }
  .particle404:nth-child(2) {
    top: 57.1428571429%;
    left: 10.7212475634%;
    font-size: 26px;
    filter: blur(0.04px);
    animation: 35s float infinite; }
  .particle404:nth-child(3) {
    top: 97.6572133169%;
    left: 29.6735905045%;
    font-size: 11px;
    filter: blur(0.06px);
    animation: 26s floatReverse infinite; }
  .particle404:nth-child(4) {
    top: 85.2300242131%;
    left: 14.6198830409%;
    font-size: 26px;
    filter: blur(0.08px);
    animation: 21s floatReverse infinite; }
  .particle404:nth-child(5) {
    top: 29.8795180723%;
    left: 73.786407767%;
    font-size: 30px;
    filter: blur(0.1px);
    animation: 23s floatReverse infinite; }
  .particle404:nth-child(6) {
    top: 81.6728167282%;
    left: 61.2043435341%;
    font-size: 13px;
    filter: blur(0.12px);
    animation: 31s float infinite; }
  .particle404:nth-child(7) {
    top: 26.0869565217%;
    left: 25.2918287938%;
    font-size: 28px;
    filter: blur(0.14px);
    animation: 27s float2 infinite; }
  .particle404:nth-child(8) {
    top: 82.7586206897%;
    left: 35.5731225296%;
    font-size: 12px;
    filter: blur(0.16px);
    animation: 24s floatReverse infinite; }
  .particle404:nth-child(9) {
    top: 78.7207872079%;
    left: 36.5251727542%;
    font-size: 13px;
    filter: blur(0.18px);
    animation: 31s floatReverse infinite; }
  .particle404:nth-child(10) {
    top: 53.5931790499%;
    left: 63.6630754163%;
    font-size: 21px;
    filter: blur(0.2px);
    animation: 26s floatReverse infinite; }
  .particle404:nth-child(11) {
    top: 43.3497536946%;
    left: 8.8932806324%;
    font-size: 12px;
    filter: blur(0.22px);
    animation: 23s float2 infinite; }
  .particle404:nth-child(12) {
    top: 62.7261761158%;
    left: 31.0981535471%;
    font-size: 29px;
    filter: blur(0.24px);
    animation: 35s float2 infinite; }
  .particle404:nth-child(13) {
    top: 72.2891566265%;
    left: 55.3398058252%;
    font-size: 30px;
    filter: blur(0.26px);
    animation: 38s floatReverse2 infinite; }
  .particle404:nth-child(14) {
    top: 70.9359605911%;
    left: 8.8932806324%;
    font-size: 12px;
    filter: blur(0.28px);
    animation: 40s floatReverse infinite; }
  .particle404:nth-child(15) {
    top: 60.3406326034%;
    left: 23.4833659491%;
    font-size: 22px;
    filter: blur(0.3px);
    animation: 37s floatReverse infinite; }
  .particle404:nth-child(16) {
    top: 80.2902055623%;
    left: 21.4216163583%;
    font-size: 27px;
    filter: blur(0.32px);
    animation: 23s floatReverse infinite; }
  .particle404:nth-child(17) {
    top: 63.768115942%;
    left: 83.6575875486%;
    font-size: 28px;
    filter: blur(0.34px);
    animation: 28s floatReverse infinite; }
  .particle404:nth-child(18) {
    top: 81.3725490196%;
    left: 90.5511811024%;
    font-size: 16px;
    filter: blur(0.36px);
    animation: 37s floatReverse infinite; }
  .particle404:nth-child(19) {
    top: 37.3923739237%;
    left: 32.5765054294%;
    font-size: 13px;
    filter: blur(0.38px);
    animation: 32s floatReverse infinite; }
  .particle404:nth-child(20) {
    top: 32.8899637243%;
    left: 24.3427458617%;
    font-size: 27px;
    filter: blur(0.4px);
    animation: 21s float2 infinite; }
  .particle404:nth-child(21) {
    top: 31.1814859927%;
    left: 1.958863859%;
    font-size: 21px;
    filter: blur(0.42px);
    animation: 36s float infinite; }
  .particle404:nth-child(22) {
    top: 83.4355828221%;
    left: 29.5566502463%;
    font-size: 15px;
    filter: blur(0.44px);
    animation: 21s float2 infinite; }
  .particle404:nth-child(23) {
    top: 27.9855247286%;
    left: 50.5344995141%;
    font-size: 29px;
    filter: blur(0.46px);
    animation: 24s float2 infinite; }
  .particle404:nth-child(24) {
    top: 69.0157958688%;
    left: 28.3479960899%;
    font-size: 23px;
    filter: blur(0.48px);
    animation: 21s floatReverse infinite; }
  .particle404:nth-child(25) {
    top: 39.5180722892%;
    left: 47.572815534%;
    font-size: 30px;
    filter: blur(0.5px);
    animation: 40s floatReverse2 infinite; }
  .particle404:nth-child(26) {
    top: 49.8777506112%;
    left: 49.115913556%;
    font-size: 18px;
    filter: blur(0.52px);
    animation: 23s float2 infinite; }
  .particle404:nth-child(27) {
    top: 71.568627451%;
    left: 29.5275590551%;
    font-size: 16px;
    filter: blur(0.54px);
    animation: 28s floatReverse infinite; }
  .particle404:nth-child(28) {
    top: 81.8514007308%;
    left: 91.0871694417%;
    font-size: 21px;
    filter: blur(0.56px);
    animation: 33s float infinite; }
  .particle404:nth-child(29) {
    top: 45.6310679612%;
    left: 41.9921875%;
    font-size: 24px;
    filter: blur(0.58px);
    animation: 23s floatReverse2 infinite; }
  .particle404:nth-child(30) {
    top: 9.8039215686%;
    left: 78.7401574803%;
    font-size: 16px;
    filter: blur(0.6px);
    animation: 36s float2 infinite; }
  .particle404:nth-child(31) {
    top: 17.5824175824%;
    left: 31.4033366045%;
    font-size: 19px;
    filter: blur(0.62px);
    animation: 37s floatReverse2 infinite; }
  .particle404:nth-child(32) {
    top: 58.3941605839%;
    left: 65.5577299413%;
    font-size: 22px;
    filter: blur(0.64px);
    animation: 22s floatReverse infinite; }
  .particle404:nth-child(33) {
    top: 92.3832923833%;
    left: 78.8954635108%;
    font-size: 14px;
    filter: blur(0.66px);
    animation: 29s floatReverse infinite; }
  .particle404:nth-child(34) {
    top: 69.9029126214%;
    left: 9.765625%;
    font-size: 24px;
    filter: blur(0.68px);
    animation: 34s float infinite; }
  .particle404:nth-child(35) {
    top: 39.263803681%;
    left: 6.8965517241%;
    font-size: 15px;
    filter: blur(0.7px);
    animation: 35s floatReverse2 infinite; }
  .particle404:nth-child(36) {
    top: 21.4896214896%;
    left: 40.2355250245%;
    font-size: 19px;
    filter: blur(0.72px);
    animation: 34s floatReverse2 infinite; }
  .particle404:nth-child(37) {
    top: 16.5048543689%;
    left: 31.25%;
    font-size: 24px;
    filter: blur(0.74px);
    animation: 29s floatReverse infinite; }
  .particle404:nth-child(38) {
    top: 43.1901840491%;
    left: 98.5221674877%;
    font-size: 15px;
    filter: blur(0.76px);
    animation: 29s floatReverse2 infinite; }
  .particle404:nth-child(39) {
    top: 12.7764127764%;
    left: 48.3234714004%;
    font-size: 14px;
    filter: blur(0.78px);
    animation: 29s floatReverse infinite; }
  .particle404:nth-child(40) {
    top: 37.6357056695%;
    left: 5.8309037901%;
    font-size: 29px;
    filter: blur(0.8px);
    animation: 21s float2 infinite; }
  .particle404:nth-child(41) {
    top: 0.9852216749%;
    left: 16.7984189723%;
    font-size: 12px;
    filter: blur(0.82px);
    animation: 34s float infinite; }
  .particle404:nth-child(42) {
    top: 9.8643649815%;
    left: 9.8911968348%;
    font-size: 11px;
    filter: blur(0.84px);
    animation: 24s float infinite; }
  .particle404:nth-child(43) {
    top: 8.8669950739%;
    left: 13.8339920949%;
    font-size: 12px;
    filter: blur(0.86px);
    animation: 28s floatReverse infinite; }
  .particle404:nth-child(44) {
    top: 91.5956151035%;
    left: 54.8481880509%;
    font-size: 21px;
    filter: blur(0.88px);
    animation: 34s floatReverse infinite; }
  .particle404:nth-child(45) {
    top: 96.3503649635%;
    left: 70.4500978474%;
    font-size: 22px;
    filter: blur(0.9px);
    animation: 35s floatReverse2 infinite; }
  .particle404:nth-child(46) {
    top: 80.6804374241%;
    left: 40.0782013685%;
    font-size: 23px;
    filter: blur(0.92px);
    animation: 24s floatReverse2 infinite; }
  .particle404:nth-child(47) {
    top: 86.851628468%;
    left: 54.4217687075%;
    font-size: 29px;
    filter: blur(0.94px);
    animation: 27s floatReverse2 infinite; }
  .particle404:nth-child(48) {
    top: 29.1262135922%;
    left: 75.1953125%;
    font-size: 24px;
    filter: blur(0.96px);
    animation: 37s floatReverse infinite; }
  .particle404:nth-child(49) {
    top: 61.7611580217%;
    left: 86.491739553%;
    font-size: 29px;
    filter: blur(0.98px);
    animation: 24s floatReverse2 infinite; }
  .particle404:nth-child(50) {
    top: 66.6666666667%;
    left: 93.5039370079%;
    font-size: 16px;
    filter: blur(1px);
    animation: 36s float infinite; }
  .particle404:nth-child(51) {
    top: 40.245398773%;
    left: 81.7733990148%;
    font-size: 15px;
    filter: blur(1.02px);
    animation: 22s float2 infinite; }
  .particle404:nth-child(52) {
    top: 63.8452237001%;
    left: 33.106134372%;
    font-size: 27px;
    filter: blur(1.04px);
    animation: 32s floatReverse2 infinite; }
  .particle404:nth-child(53) {
    top: 2.9593094945%;
    left: 81.1078140455%;
    font-size: 11px;
    filter: blur(1.06px);
    animation: 34s floatReverse2 infinite; }
  .particle404:nth-child(54) {
    top: 7.729468599%;
    left: 56.420233463%;
    font-size: 28px;
    filter: blur(1.08px);
    animation: 22s floatReverse2 infinite; }
  .particle404:nth-child(55) {
    top: 8.7697929354%;
    left: 89.1283055828%;
    font-size: 21px;
    filter: blur(1.1px);
    animation: 34s floatReverse2 infinite; }
  .particle404:nth-child(56) {
    top: 66.9902912621%;
    left: 58.59375%;
    font-size: 24px;
    filter: blur(1.12px);
    animation: 31s float infinite; }
  .particle404:nth-child(57) {
    top: 95.4489544895%;
    left: 40.473840079%;
    font-size: 13px;
    filter: blur(1.14px);
    animation: 33s float2 infinite; }
  .particle404:nth-child(58) {
    top: 39.61352657%;
    left: 19.4552529183%;
    font-size: 28px;
    filter: blur(1.16px);
    animation: 33s floatReverse2 infinite; }
  .particle404:nth-child(59) {
    top: 88.6699507389%;
    left: 0.9881422925%;
    font-size: 12px;
    filter: blur(1.18px);
    animation: 21s floatReverse2 infinite; }
  .particle404:nth-child(60) {
    top: 42.8223844282%;
    left: 31.3111545988%;
    font-size: 22px;
    filter: blur(1.2px);
    animation: 33s float infinite; }
  .particle404:nth-child(61) {
    top: 72.5513905683%;
    left: 67.1859785784%;
    font-size: 27px;
    filter: blur(1.22px);
    animation: 24s floatReverse2 infinite; }
  .particle404:nth-child(62) {
    top: 78.431372549%;
    left: 94.4881889764%;
    font-size: 16px;
    filter: blur(1.24px);
    animation: 39s floatReverse2 infinite; }
  .particle404:nth-child(63) {
    top: 65.7668711656%;
    left: 95.5665024631%;
    font-size: 15px;
    filter: blur(1.26px);
    animation: 34s floatReverse infinite; }
  .particle404:nth-child(64) {
    top: 23.1604342581%;
    left: 76.7735665695%;
    font-size: 29px;
    filter: blur(1.28px);
    animation: 39s float infinite; }
  .particle404:nth-child(65) {
    top: 2.9484029484%;
    left: 62.1301775148%;
    font-size: 14px;
    filter: blur(1.3px);
    animation: 34s floatReverse infinite; }
  .particle404:nth-child(66) {
    top: 31.9226118501%;
    left: 68.1596884129%;
    font-size: 27px;
    filter: blur(1.32px);
    animation: 38s floatReverse2 infinite; }
  .particle404:nth-child(67) {
    top: 3.869407497%;
    left: 45.7643622201%;
    font-size: 27px;
    filter: blur(1.34px);
    animation: 22s float2 infinite; }
  .particle404:nth-child(68) {
    top: 73.5294117647%;
    left: 98.4251968504%;
    font-size: 16px;
    filter: blur(1.36px);
    animation: 29s floatReverse2 infinite; }
  .particle404:nth-child(69) {
    top: 34.2298288509%;
    left: 21.6110019646%;
    font-size: 18px;
    filter: blur(1.38px);
    animation: 36s float infinite; }
  .particle404:nth-child(70) {
    top: 30.843373494%;
    left: 15.5339805825%;
    font-size: 30px;
    filter: blur(1.4px);
    animation: 31s float2 infinite; }
  .particle404:nth-child(71) {
    top: 38.9768574909%;
    left: 26.444662096%;
    font-size: 21px;
    filter: blur(1.42px);
    animation: 31s float infinite; }
  .particle404:nth-child(72) {
    top: 55.6097560976%;
    left: 75.4901960784%;
    font-size: 20px;
    filter: blur(1.44px);
    animation: 22s float infinite; }
  .particle404:nth-child(73) {
    top: 74.0560292326%;
    left: 41.1361410382%;
    font-size: 21px;
    filter: blur(1.46px);
    animation: 34s float2 infinite; }
  .particle404:nth-child(74) {
    top: 68.5990338164%;
    left: 78.7937743191%;
    font-size: 28px;
    filter: blur(1.48px);
    animation: 25s float infinite; }
  .particle404:nth-child(75) {
    top: 80.2902055623%;
    left: 58.4225900682%;
    font-size: 27px;
    filter: blur(1.5px);
    animation: 36s float infinite; }
  .particle404:nth-child(76) {
    top: 4.8602673147%;
    left: 73.3137829912%;
    font-size: 23px;
    filter: blur(1.52px);
    animation: 32s float infinite; }
  .particle404:nth-child(77) {
    top: 41.4957780458%;
    left: 92.3226433431%;
    font-size: 29px;
    filter: blur(1.54px);
    animation: 31s float2 infinite; }
  .particle404:nth-child(78) {
    top: 83.7438423645%;
    left: 1.976284585%;
    font-size: 12px;
    filter: blur(1.56px);
    animation: 26s floatReverse2 infinite; }
  .particle404:nth-child(79) {
    top: 25.6473489519%;
    left: 78.1404549951%;
    font-size: 11px;
    filter: blur(1.58px);
    animation: 34s float2 infinite; }
  .particle404:nth-child(80) {
    top: 20.6642066421%;
    left: 45.4096742349%;
    font-size: 13px;
    filter: blur(1.6px);
    animation: 22s floatReverse infinite; }

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
@keyframes float {
  0%,100% {
    transform: translateY(0); }
  50% {
    transform: translateY(180px); } }
@keyframes floatReverse {
  0%,100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-180px); } }
@keyframes float2 {
  0%,100% {
    transform: translateY(0); }
  50% {
    transform: translateY(28px); } }
@keyframes floatReverse2 {
  0%,100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-28px); } }
@media (min-width: 768px) {
  .grid-sizer {
    width: 50%; }

  .element-item {
    width: 48%; } }
@media (min-width: 992px) {
  .navbar-brand .header-logo {
    width: 100px;
    margin-right: 4rem; }

  .element-item {
    width: 32%; }

  .grid-sizer {
    width: 33%; } }

/*# sourceMappingURL=main.css.map */
