.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
          box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}

.blog-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .blog-slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

.blog-slider__img {
  width: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #7dabf6 0%, #1266f1 74%);
  border-radius: 20px;
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .blog-slider__img {
    height: 230px;
  }
}

.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #7dabf6 0%, #1266f1 74%);
  border-radius: 20px;
  opacity: 0.8;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .blog-slider__img {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}

.blog-slider__content {
  padding-right: 25px;
}

@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}

.blog-slider__content > * {
  opacity: 0;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}

.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.blog-slider__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: linear-gradient(147deg, #7dabf6 0%, #1266f1 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}

.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}

.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #1266f1;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

/* ------------------------------------------------------------------------------

  Description: NRW-Bulgaria
  Author: Ivan VAsilev
  Author URI: www.ivan-vasilev.fun
  Version: 1.0

  0.  Variables
  1.  Global
  2.  Header
  3.  Filters
  4.  Button group
  5.  Tipp page   
  6.  404 page
  7.  Tabs


/*-------------------------------------------------------------------------------
 Variables
-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------
 Global
-------------------------------------------------------------------------------*/
main {
  min-height: 80vh;
}

.base-color {
  color: #43a047;
}

.base-bgcolor {
  background-color: #669cf6;
}

a {
  color: #1266f1;
}

.carousel-control-prev,
.carousel-control-next {
  background: transparent;
  border: none;
}

.card-post {
  height: 100%;
}

.text-left {
  text-align: left !important;
}

/*-------------------------------------------------------------------------------
 Header
-------------------------------------------------------------------------------*/
.navbar-brand .header-logo {
  width: 80px;
  margin-right: 2rem;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .show > .nav-link:hover {
  text-decoration: underline;
}

/*-------------------------------------------------------------------------------
 Filters
-------------------------------------------------------------------------------*/
.button-filter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #1266f1;
  color: #1266f1;
  background: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  line-height: 1;
  margin: 8px 4px 0 0;
  padding: .8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 320ms ease-in-out;
  transition: color 320ms ease-in-out;
}

.button-filter:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #1266f1;
  z-index: -1;
  -webkit-transition: width 320ms ease-in-out;
  transition: width 320ms ease-in-out;
}

.button-filter:hover {
  color: #fff;
  outline: 0;
}

.button-filter:hover:after {
  width: 110%;
  outline: 0;
}

.button-filter:active,
.button-filter.is-checked {
  background-color: #1266f1;
}

.button-filter.is-checked {
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
}

.button-filter:active {
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8);
}

/*-------------------------------------------------------------------------------
 Button group
-------------------------------------------------------------------------------*/
.button-group:after {
  content: "";
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child {
  border-radius: 0.5em 0 0 0.5em;
}

.button-group .button:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-sizer {
  width: 90%;
}

.element-item {
  padding: 30px;
  width: 94%;
  border: 1px solid #1266f1;
  margin-bottom: .8%;
}

.name {
  font-size: 1.2rem;
  margin-bottom: .1rem;
  font-weight: bold;
}

.icon-size {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-info {
  width: 22px;
  color: #1266f1;
  font-size: 24px;
}

/*-------------------------------------------------------------------------------
 Tipp page
-------------------------------------------------------------------------------*/
.blog-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}

/*-------------------------------------------------------------------------------
 404 page
-------------------------------------------------------------------------------*/
.container404 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  color: black;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.content404 {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: white;
  padding: 60px 40px;
  text-align: center;
  -webkit-box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
          box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
          animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}

.content404 p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #1266f1;
}

.content404 p:last-child {
  margin-bottom: 0;
}

.content404 .button404 {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #1266f1;
  background: transparent;
  font-size: 1rem;
  color: #1266f1;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.particle404 {
  position: absolute;
  display: block;
  pointer-events: none;
  color: #1266f1;
}

.particle404:nth-child(1) {
  top: 55.10455%;
  left: 95.75518%;
  font-size: 13px;
  -webkit-filter: blur(0.02 + px);
          filter: blur(0.02 + px);
  -webkit-animation: 37s float2 infinite;
          animation: 37s float2 infinite;
}

.particle404:nth-child(2) {
  top: 76.84729%;
  left: 76.08696%;
  font-size: 12px;
  -webkit-filter: blur(0.04 + px);
          filter: blur(0.04 + px);
  -webkit-animation: 27s float2 infinite;
          animation: 27s float2 infinite;
}

.particle404:nth-child(3) {
  top: 69.56522%;
  left: 71.98444%;
  font-size: 28px;
  -webkit-filter: blur(0.06 + px);
          filter: blur(0.06 + px);
  -webkit-animation: 40s floatReverse2 infinite;
          animation: 40s floatReverse2 infinite;
}

.particle404:nth-child(4) {
  top: 55.24044%;
  left: 72.20574%;
  font-size: 11px;
  -webkit-filter: blur(0.08 + px);
          filter: blur(0.08 + px);
  -webkit-animation: 39s float infinite;
          animation: 39s float infinite;
}

.particle404:nth-child(5) {
  top: 76.28362%;
  left: 32.4165%;
  font-size: 18px;
  -webkit-filter: blur(0.1 + px);
          filter: blur(0.1 + px);
  -webkit-animation: 21s float infinite;
          animation: 21s float infinite;
}

.particle404:nth-child(6) {
  top: 77.07317%;
  left: 30.39216%;
  font-size: 20px;
  -webkit-filter: blur(0.12 + px);
          filter: blur(0.12 + px);
  -webkit-animation: 27s float2 infinite;
          animation: 27s float2 infinite;
}

.particle404:nth-child(7) {
  top: 93.60676%;
  left: 90.37901%;
  font-size: 29px;
  -webkit-filter: blur(0.14 + px);
          filter: blur(0.14 + px);
  -webkit-animation: 29s float2 infinite;
          animation: 29s float2 infinite;
}

.particle404:nth-child(8) {
  top: 78.16647%;
  left: 3.88727%;
  font-size: 29px;
  -webkit-filter: blur(0.16 + px);
          filter: blur(0.16 + px);
  -webkit-animation: 40s floatReverse2 infinite;
          animation: 40s floatReverse2 infinite;
}

.particle404:nth-child(9) {
  top: 31.96126%;
  left: 27.29045%;
  font-size: 26px;
  -webkit-filter: blur(0.18 + px);
          filter: blur(0.18 + px);
  -webkit-animation: 40s float infinite;
          animation: 40s float infinite;
}

.particle404:nth-child(10) {
  top: 59.90338%;
  left: 19.45525%;
  font-size: 28px;
  -webkit-filter: blur(0.2 + px);
          filter: blur(0.2 + px);
  -webkit-animation: 38s floatReverse infinite;
          animation: 38s floatReverse infinite;
}

.particle404:nth-child(11) {
  top: 95.3317%;
  left: 68.04734%;
  font-size: 14px;
  -webkit-filter: blur(0.22 + px);
          filter: blur(0.22 + px);
  -webkit-animation: 23s float2 infinite;
          animation: 23s float2 infinite;
}

.particle404:nth-child(12) {
  top: 14.76015%;
  left: 85.88351%;
  font-size: 13px;
  -webkit-filter: blur(0.24 + px);
          filter: blur(0.24 + px);
  -webkit-animation: 31s floatReverse2 infinite;
          animation: 31s floatReverse2 infinite;
}

.particle404:nth-child(13) {
  top: 31.48831%;
  left: 84.89635%;
  font-size: 13px;
  -webkit-filter: blur(0.26 + px);
          filter: blur(0.26 + px);
  -webkit-animation: 34s float infinite;
          animation: 34s float infinite;
}

.particle404:nth-child(14) {
  top: 69.60784%;
  left: 64.96063%;
  font-size: 16px;
  -webkit-filter: blur(0.28 + px);
          filter: blur(0.28 + px);
  -webkit-animation: 40s floatReverse infinite;
          animation: 40s floatReverse infinite;
}

.particle404:nth-child(15) {
  top: 19.44107%;
  left: 54.74096%;
  font-size: 23px;
  -webkit-filter: blur(0.3 + px);
          filter: blur(0.3 + px);
  -webkit-animation: 37s float2 infinite;
          animation: 37s float2 infinite;
}

.particle404:nth-child(16) {
  top: 67.71463%;
  left: 83.73905%;
  font-size: 27px;
  -webkit-filter: blur(0.32 + px);
          filter: blur(0.32 + px);
  -webkit-animation: 29s float2 infinite;
          animation: 29s float2 infinite;
}

.particle404:nth-child(17) {
  top: 46.07843%;
  left: 75.7874%;
  font-size: 16px;
  -webkit-filter: blur(0.34 + px);
          filter: blur(0.34 + px);
  -webkit-animation: 35s floatReverse infinite;
          animation: 35s floatReverse infinite;
}

.particle404:nth-child(18) {
  top: 1.94647%;
  left: 25.44031%;
  font-size: 22px;
  -webkit-filter: blur(0.36 + px);
          filter: blur(0.36 + px);
  -webkit-animation: 33s floatReverse2 infinite;
          animation: 33s floatReverse2 infinite;
}

.particle404:nth-child(19) {
  top: 76.37699%;
  left: 12.78269%;
  font-size: 17px;
  -webkit-filter: blur(0.38 + px);
          filter: blur(0.38 + px);
  -webkit-animation: 21s floatReverse infinite;
          animation: 21s floatReverse infinite;
}

.particle404:nth-child(20) {
  top: 16.74877%;
  left: 30.63241%;
  font-size: 12px;
  -webkit-filter: blur(0.4 + px);
          filter: blur(0.4 + px);
  -webkit-animation: 22s float infinite;
          animation: 22s float infinite;
}

.particle404:nth-child(21) {
  top: 79.70838%;
  left: 95.79668%;
  font-size: 23px;
  -webkit-filter: blur(0.42 + px);
          filter: blur(0.42 + px);
  -webkit-animation: 26s floatReverse infinite;
          animation: 26s floatReverse infinite;
}

.particle404:nth-child(22) {
  top: 75.86207%;
  left: 39.52569%;
  font-size: 12px;
  -webkit-filter: blur(0.44 + px);
          filter: blur(0.44 + px);
  -webkit-animation: 25s float infinite;
          animation: 25s float infinite;
}

.particle404:nth-child(23) {
  top: 22.63223%;
  left: 94.76802%;
  font-size: 13px;
  -webkit-filter: blur(0.46 + px);
          filter: blur(0.46 + px);
  -webkit-animation: 24s floatReverse infinite;
          animation: 24s floatReverse infinite;
}

.particle404:nth-child(24) {
  top: 73.69697%;
  left: 23.41463%;
  font-size: 25px;
  -webkit-filter: blur(0.48 + px);
          filter: blur(0.48 + px);
  -webkit-animation: 24s float2 infinite;
          animation: 24s float2 infinite;
}

.particle404:nth-child(25) {
  top: 2.90206%;
  left: 21.42162%;
  font-size: 27px;
  -webkit-filter: blur(0.5 + px);
          filter: blur(0.5 + px);
  -webkit-animation: 27s floatReverse2 infinite;
          animation: 27s floatReverse2 infinite;
}

.particle404:nth-child(26) {
  top: 90.73171%;
  left: 82.35294%;
  font-size: 20px;
  -webkit-filter: blur(0.52 + px);
          filter: blur(0.52 + px);
  -webkit-animation: 27s float infinite;
          animation: 27s float infinite;
}

.particle404:nth-child(27) {
  top: 77.85888%;
  left: 81.21331%;
  font-size: 22px;
  -webkit-filter: blur(0.54 + px);
          filter: blur(0.54 + px);
  -webkit-animation: 22s float infinite;
          animation: 22s float infinite;
}

.particle404:nth-child(28) {
  top: 5.83232%;
  left: 19.55034%;
  font-size: 23px;
  -webkit-filter: blur(0.56 + px);
          filter: blur(0.56 + px);
  -webkit-animation: 29s floatReverse infinite;
          animation: 29s floatReverse infinite;
}

.particle404:nth-child(29) {
  top: 42.36453%;
  left: 85.96838%;
  font-size: 12px;
  -webkit-filter: blur(0.58 + px);
          filter: blur(0.58 + px);
  -webkit-animation: 25s floatReverse infinite;
          animation: 25s floatReverse infinite;
}

.particle404:nth-child(30) {
  top: 4.86027%;
  left: 31.28055%;
  font-size: 23px;
  -webkit-filter: blur(0.6 + px);
          filter: blur(0.6 + px);
  -webkit-animation: 34s float2 infinite;
          animation: 34s float2 infinite;
}

.particle404:nth-child(31) {
  top: 58.04111%;
  left: 35.05355%;
  font-size: 27px;
  -webkit-filter: blur(0.62 + px);
          filter: blur(0.62 + px);
  -webkit-animation: 22s floatReverse2 infinite;
          animation: 22s floatReverse2 infinite;
}

.particle404:nth-child(32) {
  top: 34.99392%;
  left: 12.70772%;
  font-size: 23px;
  -webkit-filter: blur(0.64 + px);
          filter: blur(0.64 + px);
  -webkit-animation: 35s floatReverse infinite;
          animation: 35s floatReverse infinite;
}

.particle404:nth-child(33) {
  top: 69.39759%;
  left: 25.24272%;
  font-size: 30px;
  -webkit-filter: blur(0.66 + px);
          filter: blur(0.66 + px);
  -webkit-animation: 36s float2 infinite;
          animation: 36s float2 infinite;
}

.particle404:nth-child(34) {
  top: 46.60194%;
  left: 16.60156%;
  font-size: 24px;
  -webkit-filter: blur(0.68 + px);
          filter: blur(0.68 + px);
  -webkit-animation: 26s float2 infinite;
          animation: 26s float2 infinite;
}

.particle404:nth-child(35) {
  top: 6.88807%;
  left: 29.615%;
  font-size: 13px;
  -webkit-filter: blur(0.7 + px);
          filter: blur(0.7 + px);
  -webkit-animation: 28s float infinite;
          animation: 28s float infinite;
}

.particle404:nth-child(36) {
  top: 2.89855%;
  left: 49.61089%;
  font-size: 28px;
  -webkit-filter: blur(0.72 + px);
          filter: blur(0.72 + px);
  -webkit-animation: 40s floatReverse infinite;
          animation: 40s floatReverse infinite;
}

.particle404:nth-child(37) {
  top: 57.56098%;
  left: 93.13725%;
  font-size: 20px;
  -webkit-filter: blur(0.74 + px);
          filter: blur(0.74 + px);
  -webkit-animation: 22s float2 infinite;
          animation: 22s float2 infinite;
}

.particle404:nth-child(38) {
  top: 64.7343%;
  left: 70.03891%;
  font-size: 28px;
  -webkit-filter: blur(0.76 + px);
          filter: blur(0.76 + px);
  -webkit-animation: 36s float2 infinite;
          animation: 36s float2 infinite;
}

.particle404:nth-child(39) {
  top: 7.86241%;
  left: 25.64103%;
  font-size: 14px;
  -webkit-filter: blur(0.78 + px);
          filter: blur(0.78 + px);
  -webkit-animation: 30s float infinite;
          animation: 30s float infinite;
}

.particle404:nth-child(40) {
  top: 9.70874%;
  left: 60.54688%;
  font-size: 24px;
  -webkit-filter: blur(0.8 + px);
          filter: blur(0.8 + px);
  -webkit-animation: 28s float infinite;
          animation: 28s float infinite;
}

.particle404:nth-child(41) {
  top: 89.53771%;
  left: 43.05284%;
  font-size: 22px;
  -webkit-filter: blur(0.82 + px);
          filter: blur(0.82 + px);
  -webkit-animation: 40s floatReverse2 infinite;
          animation: 40s floatReverse2 infinite;
}

.particle404:nth-child(42) {
  top: 42.26044%;
  left: 85.79882%;
  font-size: 14px;
  -webkit-filter: blur(0.84 + px);
          filter: blur(0.84 + px);
  -webkit-animation: 23s float2 infinite;
          animation: 23s float2 infinite;
}

.particle404:nth-child(43) {
  top: 15.42169%;
  left: 3.8835%;
  font-size: 30px;
  -webkit-filter: blur(0.86 + px);
          filter: blur(0.86 + px);
  -webkit-animation: 23s floatReverse infinite;
          animation: 23s floatReverse infinite;
}

.particle404:nth-child(44) {
  top: 70.5314%;
  left: 48.63813%;
  font-size: 28px;
  -webkit-filter: blur(0.88 + px);
          filter: blur(0.88 + px);
  -webkit-animation: 23s floatReverse2 infinite;
          animation: 23s floatReverse2 infinite;
}

.particle404:nth-child(45) {
  top: 74.57627%;
  left: 56.53021%;
  font-size: 26px;
  -webkit-filter: blur(0.9 + px);
          filter: blur(0.9 + px);
  -webkit-animation: 34s floatReverse2 infinite;
          animation: 34s floatReverse2 infinite;
}

.particle404:nth-child(46) {
  top: 45.96577%;
  left: 64.83301%;
  font-size: 18px;
  -webkit-filter: blur(0.92 + px);
          filter: blur(0.92 + px);
  -webkit-animation: 34s float infinite;
          animation: 34s float infinite;
}

.particle404:nth-child(47) {
  top: 6.77146%;
  left: 80.81792%;
  font-size: 27px;
  -webkit-filter: blur(0.94 + px);
          filter: blur(0.94 + px);
  -webkit-animation: 22s float2 infinite;
          animation: 22s float2 infinite;
}

.particle404:nth-child(48) {
  top: 82.82582%;
  left: 84.23115%;
  font-size: 21px;
  -webkit-filter: blur(0.96 + px);
          filter: blur(0.96 + px);
  -webkit-animation: 31s float infinite;
          animation: 31s float infinite;
}

.particle404:nth-child(49) {
  top: 47.34895%;
  left: 38.57567%;
  font-size: 11px;
  -webkit-filter: blur(0.98 + px);
          filter: blur(0.98 + px);
  -webkit-animation: 33s float infinite;
          animation: 33s float infinite;
}

.particle404:nth-child(50) {
  top: 30.09709%;
  left: 55.66406%;
  font-size: 24px;
  -webkit-filter: blur(1 + px);
          filter: blur(1 + px);
  -webkit-animation: 35s floatReverse2 infinite;
          animation: 35s floatReverse2 infinite;
}

.particle404:nth-child(51) {
  top: 1.94411%;
  left: 50.83089%;
  font-size: 23px;
  -webkit-filter: blur(1.02 + px);
          filter: blur(1.02 + px);
  -webkit-animation: 35s floatReverse2 infinite;
          animation: 35s floatReverse2 infinite;
}

.particle404:nth-child(52) {
  top: 44.60606%;
  left: 21.46341%;
  font-size: 25px;
  -webkit-filter: blur(1.04 + px);
          filter: blur(1.04 + px);
  -webkit-animation: 21s floatReverse2 infinite;
          animation: 21s floatReverse2 infinite;
}

.particle404:nth-child(53) {
  top: 61.15906%;
  left: 58.35806%;
  font-size: 11px;
  -webkit-filter: blur(1.06 + px);
          filter: blur(1.06 + px);
  -webkit-animation: 34s floatReverse infinite;
          animation: 34s floatReverse infinite;
}

.particle404:nth-child(54) {
  top: 72.37164%;
  left: 2.94695%;
  font-size: 18px;
  -webkit-filter: blur(1.08 + px);
          filter: blur(1.08 + px);
  -webkit-animation: 28s floatReverse2 infinite;
          animation: 28s floatReverse2 infinite;
}

.particle404:nth-child(55) {
  top: 63.41463%;
  left: 89.21569%;
  font-size: 20px;
  -webkit-filter: blur(1.1 + px);
          filter: blur(1.1 + px);
  -webkit-animation: 36s floatReverse2 infinite;
          animation: 36s floatReverse2 infinite;
}

.particle404:nth-child(56) {
  top: 92.34508%;
  left: 67.44868%;
  font-size: 23px;
  -webkit-filter: blur(1.12 + px);
          filter: blur(1.12 + px);
  -webkit-animation: 30s float2 infinite;
          animation: 30s float2 infinite;
}

.particle404:nth-child(57) {
  top: 57.07257%;
  left: 16.78184%;
  font-size: 13px;
  -webkit-filter: blur(1.14 + px);
          filter: blur(1.14 + px);
  -webkit-animation: 29s floatReverse2 infinite;
          animation: 29s floatReverse2 infinite;
}

.particle404:nth-child(58) {
  top: 27.58621%;
  left: 17.78656%;
  font-size: 12px;
  -webkit-filter: blur(1.16 + px);
          filter: blur(1.16 + px);
  -webkit-animation: 27s float infinite;
          animation: 27s float infinite;
}

.particle404:nth-child(59) {
  top: 59.3674%;
  left: 56.75147%;
  font-size: 22px;
  -webkit-filter: blur(1.18 + px);
          filter: blur(1.18 + px);
  -webkit-animation: 29s floatReverse2 infinite;
          animation: 29s floatReverse2 infinite;
}

.particle404:nth-child(60) {
  top: 7.75758%;
  left: 89.7561%;
  font-size: 25px;
  -webkit-filter: blur(1.2 + px);
          filter: blur(1.2 + px);
  -webkit-animation: 26s floatReverse2 infinite;
          animation: 26s floatReverse2 infinite;
}

.particle404:nth-child(61) {
  top: 41.17647%;
  left: 24.6063%;
  font-size: 16px;
  -webkit-filter: blur(1.22 + px);
          filter: blur(1.22 + px);
  -webkit-animation: 25s floatReverse infinite;
          animation: 25s floatReverse infinite;
}

.particle404:nth-child(62) {
  top: 77.07317%;
  left: 7.84314%;
  font-size: 20px;
  -webkit-filter: blur(1.24 + px);
          filter: blur(1.24 + px);
  -webkit-animation: 36s floatReverse2 infinite;
          animation: 36s floatReverse2 infinite;
}

.particle404:nth-child(63) {
  top: 11.77914%;
  left: 1.97044%;
  font-size: 15px;
  -webkit-filter: blur(1.26 + px);
          filter: blur(1.26 + px);
  -webkit-animation: 23s floatReverse infinite;
          animation: 23s floatReverse infinite;
}

.particle404:nth-child(64) {
  top: 66.83047%;
  left: 35.50296%;
  font-size: 14px;
  -webkit-filter: blur(1.28 + px);
          filter: blur(1.28 + px);
  -webkit-animation: 36s float infinite;
          animation: 36s float infinite;
}

.particle404:nth-child(65) {
  top: 12.68293%;
  left: 30.39216%;
  font-size: 20px;
  -webkit-filter: blur(1.3 + px);
          filter: blur(1.3 + px);
  -webkit-animation: 24s floatReverse infinite;
          animation: 24s floatReverse infinite;
}

.particle404:nth-child(66) {
  top: 15.49637%;
  left: 79.92203%;
  font-size: 26px;
  -webkit-filter: blur(1.32 + px);
          filter: blur(1.32 + px);
  -webkit-animation: 31s floatReverse infinite;
          animation: 31s floatReverse infinite;
}

.particle404:nth-child(67) {
  top: 46.94377%;
  left: 95.28487%;
  font-size: 18px;
  -webkit-filter: blur(1.34 + px);
          filter: blur(1.34 + px);
  -webkit-animation: 35s floatReverse2 infinite;
          animation: 35s floatReverse2 infinite;
}

.particle404:nth-child(68) {
  top: 15.78298%;
  left: 75.1731%;
  font-size: 11px;
  -webkit-filter: blur(1.36 + px);
          filter: blur(1.36 + px);
  -webkit-animation: 29s float infinite;
          animation: 29s float infinite;
}

.particle404:nth-child(69) {
  top: 88.34356%;
  left: 65.02463%;
  font-size: 15px;
  -webkit-filter: blur(1.38 + px);
          filter: blur(1.38 + px);
  -webkit-animation: 37s float2 infinite;
          animation: 37s float2 infinite;
}

.particle404:nth-child(70) {
  top: 3.92638%;
  left: 81.7734%;
  font-size: 15px;
  -webkit-filter: blur(1.4 + px);
          filter: blur(1.4 + px);
  -webkit-animation: 28s float2 infinite;
          animation: 28s float2 infinite;
}

.particle404:nth-child(71) {
  top: 78.64078%;
  left: 44.92188%;
  font-size: 24px;
  -webkit-filter: blur(1.42 + px);
          filter: blur(1.42 + px);
  -webkit-animation: 25s floatReverse2 infinite;
          animation: 25s floatReverse2 infinite;
}

.particle404:nth-child(72) {
  top: 51.2947%;
  left: 43.52127%;
  font-size: 11px;
  -webkit-filter: blur(1.44 + px);
          filter: blur(1.44 + px);
  -webkit-animation: 35s floatReverse2 infinite;
          animation: 35s floatReverse2 infinite;
}

.particle404:nth-child(73) {
  top: 25.21212%;
  left: 91.70732%;
  font-size: 25px;
  -webkit-filter: blur(1.46 + px);
          filter: blur(1.46 + px);
  -webkit-animation: 29s floatReverse2 infinite;
          animation: 29s floatReverse2 infinite;
}

.particle404:nth-child(74) {
  top: 76.75277%;
  left: 7.89733%;
  font-size: 13px;
  -webkit-filter: blur(1.48 + px);
          filter: blur(1.48 + px);
  -webkit-animation: 36s floatReverse infinite;
          animation: 36s floatReverse infinite;
}

.particle404:nth-child(75) {
  top: 63.26034%;
  left: 35.22505%;
  font-size: 22px;
  -webkit-filter: blur(1.5 + px);
          filter: blur(1.5 + px);
  -webkit-animation: 29s floatReverse infinite;
          animation: 29s floatReverse infinite;
}

.particle404:nth-child(76) {
  top: 27.05314%;
  left: 58.36576%;
  font-size: 28px;
  -webkit-filter: blur(1.52 + px);
          filter: blur(1.52 + px);
  -webkit-animation: 35s floatReverse infinite;
          animation: 35s floatReverse infinite;
}

.particle404:nth-child(77) {
  top: 2.94479%;
  left: 36.4532%;
  font-size: 15px;
  -webkit-filter: blur(1.54 + px);
          filter: blur(1.54 + px);
  -webkit-animation: 29s float2 infinite;
          animation: 29s float2 infinite;
}

.particle404:nth-child(78) {
  top: 90.30675%;
  left: 14.77833%;
  font-size: 15px;
  -webkit-filter: blur(1.56 + px);
          filter: blur(1.56 + px);
  -webkit-animation: 24s floatReverse2 infinite;
          animation: 24s floatReverse2 infinite;
}

.particle404:nth-child(79) {
  top: 16.62592%;
  left: 37.32809%;
  font-size: 18px;
  -webkit-filter: blur(1.58 + px);
          filter: blur(1.58 + px);
  -webkit-animation: 33s float infinite;
          animation: 33s float infinite;
}

.particle404:nth-child(80) {
  top: 50.66991%;
  left: 30.36239%;
  font-size: 21px;
  -webkit-filter: blur(1.6 + px);
          filter: blur(1.6 + px);
  -webkit-animation: 29s float infinite;
          animation: 29s float infinite;
}

@-webkit-keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes float {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
  }
}

@keyframes float {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
  }
}

@-webkit-keyframes floatReverse {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-180px);
            transform: translateY(-180px);
  }
}

@keyframes floatReverse {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-180px);
            transform: translateY(-180px);
  }
}

@-webkit-keyframes float2 {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
  }
}

@keyframes float2 {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
  }
}

@-webkit-keyframes floatReverse2 {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
  }
}

@keyframes floatReverse2 {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
  }
}

/*-------------------------------------------------------------------------------
 Tabs page
-------------------------------------------------------------------------------*/
.tabs-container {
  min-height: 500px;
}

.tab-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
}

input[type="radio"][name="tabs"]:checked + .tab-label-content label {
  color: #1266f1;
}

input[type="radio"][name="tabs"]:checked + .tab-label-content .tab-content {
  display: block;
}

input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
  left: calc((100% / 2) * 0);
}

input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
  left: calc((100% / 2) * 1);
}

input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
  left: 0;
}

label {
  cursor: pointer;
  color: #039be5;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 56px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  width: 100%;
}

.slide {
  background: #1266f1;
  width: calc(100% / 2);
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;
}

.tab-label-content .tab-content {
  position: absolute;
  top: 100px;
  left: 0;
  display: none;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .tab-wrap {
    width: 80%;
    margin-left: 10%;
    top: -106px;
  }
}

@media (min-width: 768px) {
  .grid-sizer {
    width: 50%;
  }
  .element-item {
    width: 48%;
  }
}

@media (min-width: 992px) {
  .navbar-brand .header-logo {
    width: 100px;
    margin-right: 4rem;
  }
  .element-item {
    width: 31%;
  }
  .grid-sizer {
    width: 32%;
  }
}
/*# sourceMappingURL=main.css.map */